html
	head
		link(href = '/style.css' type = 'text/css' rel = 'stylesheet')
	body
		div#container
			h2= user.name
			img#mainimg(src = '/duck.jpg')
			h3= user.email
			br
			img(src = '/duck1.jpg')
			img(src = '/duck2.jpg')
			img(src = '/duck3.jpg')
			img(src = '/duck4.jpg')
			br
			br
			a#home(href = '/') Go Home
			a#logout(href = '/logout') Leave Us