html
	head
		link(rel = "stylesheet" href = "style.css" type = "text/css")
	body
		div.container
			section#content2
				h1 New User
				br
				form(action = "/add" method = "post")
					input(type = "text" name = "firstname" placeholder = "Enter first name" id = "firstname")
					br
					input(type = "text" name = "lastname" placeholder = "Enter last name" id = "lastname")
					br
					input(type = "email" name = "email" placeholder = "Enter email" id = "email")
					br
					input(type = "submit" value = "Create Account")
					br
					a(class = "button" href = "/") Full User List
					a(class = "button" href = "/search") Search Users
				br
