html
   body
      form(action = "/add" method = "post")
         input(type = "text" name = "firstname" placeholder = "Enter first name")
         br
         input(type = "text" name = "lastname" placeholder = "Enter last name")
         br
         input(type = "email" name = "email" placeholder = "Enter email")
         input(type = "submit" value = "Create Profile")

