html
   body
      form(action = "" method = "post" enctype = "multipart/form-data")
         fieldset
            label(for = "firstname") First name: 
            input(type = "text" name = "firstname" placeholder = "Enter first name")
            br
            label(for = "lastname") Last name: 
            input(type = "text" name = "lastname" placeholder = "Enter last name")
            br
            label(for = "email") Email: 
            input(type = "email" name = "email" placeholder = "Enter your email adress")
            input(type = "submit" value = "Create Profile")

