html
	head
		link(rel = "stylesheet" href = "style.css" type = "text/css")
	body
		div.container
			section#content
				h1 Results
				ul
					if (user.length == 0)
						p User not found
					else
						each thing in user
							li #{thing.firstname} #{thing.lastname}: #{thing.email}
 
						
						
				br
				a(class = "button" href = "/search") Go back to search
				a(class = "button" href = "/add") Create Account
				a(class = "button" href = "/") Full User List